body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.corpo{
    padding-left: 30%;
    padding-bottom: 40%;
    background: linear-gradient(0deg, rgba(148,187,233,1) 0%, rgba(241,219,229,0.9108018207282913) 100%);
}

.titulo01{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}


.campo01{
    border-radius: 10px;
    border: none;
    width: 200px;
    height: 20px;
    margin: 10px;
}

.campo03{
    border-radius: 10px;
    border: none;
    width: 200px;
    height: 20px;
    margin: 10px;
}

.buttons01{
    border-radius: 5px;
    border:none;
    padding: 10px;
}

.buttons02{
    border-radius: 5px;
    border:none;
    padding: 10px;

}
.field01{
    width: 50%;
    border-radius: 10px;
    background-color: thistle;
}

.field02{
    width: 50%;
    border-radius: 10px;
    background-color:rgb(191, 198, 216) ; 
}
.img{
    margin-left: 100px;
}